.paragraph {
  margin-bottom: 20px;
  
  font-size: 20px;
  line-height: 30px;
}

.paragraph:last-child {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 30px;
  clear: both;
}

/* sidebar */

.sidebar {
  float: right;
  width: 100%;
  max-width: 270px;
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
}

h3,
.sidebar h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}

.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}

.social:last-child {
  margin-right: 0;
}

/* main */

.main-section {
  float: left;
  width: 100%;
  
  padding: 55px;
  margin: 0 0 40px;
  background: #fff;
  border: 1px solid #ddd;
}

/* portfolio page */

.work {
  position: relative;
  float: left;
  width: 100%;
  margin: 20px 0 25px;
  overflow: auto;
}



.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 90.5%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

.auth-image {
  float: left;
  width: 150px;
  height: auto;
  margin-top: 3px;
  margin-right: 25px;
}
